In [ ]:
# Author: Judy Zuo
# Date: 2020 02 14
# CS301-006, Professor Watson
# HW03 Solution
# methods to read data from file, find the number of outliers and find the std
# link to the git repo :   https://github.com/judy756/HW-CS301
# link-to-the-relevant-git-commit 
#      https://github.com/judy756/HW-CS301/commit/c6efdc15736cce26dd98feb62d7a12f3bcf0e761
# name-of-the-branch : master

# HW 04

In [14]:
import pandas as pd
import numpy as np

### Problem 1

In [15]:
def get_percent_nans(df, column_name):
    #df = pd.DataFrame(df);
    total = df.shape[0];
    empty = df.loc[df[column_name].isna()];
    
    return (empty.shape[0]/total) * 100;

In [16]:
data_dir = 'C:\\Users\\judyz\\OneDrive\\Documents'
file_name = data_dir + '\\2019_nCoV_20200121_20200206.csv'
my_df = pd.read_csv(file_name)
for col in my_df.columns:
    print('The \"{}\" column has {:.2f}% empty values'.format(col, get_percent_nans(my_df, col)))

The "Province/State" column has 24.45% empty values
The "Country/Region" column has 0.00% empty values
The "Last Update" column has 0.00% empty values
The "Confirmed" column has 1.60% empty values
The "Suspected" column has 95.31% empty values
The "Recovered" column has 46.67% empty values
The "Death" column has 53.22% empty values

### Problem 2

In [17]:
# Find Country/Region with most death

my_df.loc[my_df['Death'] == my_df['Death'].max()]['Country/Region']

0     Mainland China
70    Mainland China
Name: Country/Region, dtype: object

### Problem 3

In [18]:
#Find Country/Region with highest number of suspected or max in suspected

my_df.loc[my_df['Suspected'] == my_df['Suspected'].max()]['Country/Region']

1532    Hong Kong
1581    Hong Kong
1623    Hong Kong
Name: Country/Region, dtype: object

### Problem 4

In [19]:
#Find Country/Region with second highest number of recovered

sorted_df = my_df.sort_values('Recovered')
sorted_df = sorted_df.reset_index()

sorted_df.loc[sorted_df['Recovered'].idxmax()-1]['Country/Region']

'Mainland China'

### Problem 5 and 6

In [20]:
def get_continent(country):
    dic = {'Mainland China': 'Asia', 'Singapore': 'Asia', 
       'Thailand': 'Asia', 'Japan': 'Asia', 
       'Hong Kong': 'Asia', 'South Korea': 'Asia', 
       'Germany': 'Europe', 'Malaysia': 'Asia', 
       'Taiwan': 'Asia', 'Macau': 'Asia', 
       'Vietnam': 'Asia', 'France': 'Europe', 
       'United Arab Emirates': 'Asia', 'Australia':'Australia', 
       'India': 'Asia', 'Canada': 'North America', 
       'Italy': 'Europe', 'Philippines': 'Asia', 
       'Russia': 'Asia', 'UK': 'Europe', 
       'United States': 'North America', 'Belgium': 'Europe', 
       'Cambodia': 'Asia', 'Finland': 'Europe', 
       'Nepal': 'Asia', 'Spain': 'Europe', 
       'Sri Lanka': 'Asia', 'Sweden': 'Europe', 
       'Ivory Coast': 'Africa', 'Mexico': 'North America', 
       'Brazil': 'South America', 'Colombia': 'South America'};
    
    return dic[country];

In [21]:
print(get_continent('UK'))

Europe

### Problem 7

In [22]:
#Add column 'Continent'

for i in range(my_df.shape[0]):
    my_df.loc[i, 'Continent'] = get_continent(my_df.loc[i,'Country/Region'])

my_df

,Province/State,Country/Region,Last Update,Confirmed,Suspected,Recovered,Death,Continent
0,Hubei,Mainland China,2/5/20 16:43,16678.0,NaN,538.0,479.0,Asia
1,Guangdong,Mainland China,2/5/20 13:23,895.0,NaN,49.0,0.0,Asia
2,Zhejiang,Mainland China,2/5/20 15:13,895.0,NaN,78.0,0.0,Asia
3,Henan,Mainland China,2/5/20 15:03,764.0,NaN,47.0,2.0,Asia
4,Hunan,Mainland China,2/5/20 15:23,661.0,NaN,54.0,0.0,Asia
...,...,...,...,...,...,...,...,...
1872,Heilongjiang,Mainland China,1/21/2020,NaN,1.0,NaN,NaN,Asia
1873,NaN,Japan,1/21/2020,1.0,NaN,NaN,NaN,Asia
1874,NaN,Thailand,1/21/2020,2.0,NaN,NaN,NaN,Asia
1875,NaN,South Korea,1/21/2020,1.0,NaN,NaN,NaN,Asia
1876,Washington,United States,1/21/2020,1.0,NaN,NaN,NaN,North America

### Problem 8

In [23]:
#Total number of confirmed cases in each continent

con_groups = my_df.groupby('Continent')
for con in my_df['Continent'].unique():
    print('The total number of confirmed cases in {} is {}'.format(con, con_groups.get_group(con)['Confirmed'].sum()))

The total number of confirmed cases in Asia is 304984.0
The total number of confirmed cases in Europe is 395.0
The total number of confirmed cases in Australia is 238.0
The total number of confirmed cases in North America is 273.0
The total number of confirmed cases in Africa is 1.0
The total number of confirmed cases in South America is 0.0